<div class="row">
    <div class="col-lg-4">
    <%= image_tag @user.avatar.url %>
    <h1 style="color: #5cb85c"><%= @user.username %></h1>
      <table class="table">

        <% @friendships.each do |friendship| %>
          <tr>
            <% if friendship.friend.username != params[:id] %>
            <td>
              <%= image_tag friendship.friend.avatar.url(:thumb), class: "img-circle" %>
              <%= link_to friendship.friend.username, "/users/#{friendship.friend.permalink}" %>
            </td>
            <% if current_user.username == params[:id] %>
            <td>
              <%= link_to "remove", friendship, method: :delete %>
            </td>
            <% end %>
          <% end %>
          <% if friendship.user.username != params[:id] %>
            <td>
              <%= image_tag friendship.user.avatar.url(:thumb), class: "img-circle" %>
              <%= link_to friendship.user.username, "/users/#{friendship.user.permalink}" %>
            </td>
            <% if current_user.username == params[:id] %>
            <td>
              <%= link_to "remove", friendship, method: :delete %>
            </td>
          </tr>
            <% end %>
          <% end %>
        <% end %>
      </table>
  </div>
  <div class="col-lg-4">
    <% songs = [] %>
    <% @songs.each do |song| %>
      <% songs << song.song_uri.gsub("spotify:track:","") %>
    <% end %>

    <% songs = songs.join(",") %>
      <iframe src="https://embed.spotify.com/?uri=spotify:trackset:ChrisFinlayson:<%=songs%>"
        width="300" height="380"frameborder="0" allowtransparency="true">
      </iframe>
  </div>
  <div class="col-lg-4">
    <% if @songs.count > 0 %>
      <table class="table playlist_songs">
        <% @songs.each do |song| %>
          <tr>
            <td>
              <%= song.song_name %><br>
              <div class="added_by"> added by: <%= link_to song.added_by, "/users/#{song.added_by}" %></div>
            </td>
            <td>
            <% if song.user_id == current_user.id || song.added_by == current_user.username %>
              <%= link_to 'delete', song, :method => :delete%>
            <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <% else %>
      <%= link_to "search for songs!", root_path %>
    <% end %>
  </div>

</div> <!-- end of grid row -->


