<h1 style="color: white"><%= @user.username %></h1>


<div class="container">

<% songs = [] %>
<% @songs.each do |song| %>
  <% songs << song.song_uri.gsub("spotify:track:","") %>
<% end %>
<% songs = songs.join(",") %>

<iframe src="https://embed.spotify.com/?uri=spotify:trackset:ChrisFinlayson:<%=songs%>"  width="300" height="380"frameborder="0" allowtransparency="true"></iframe>
  <table class="table search_results">
    <% @songs.each do |song| %>
    <tr>
      <td>
        <h4><%= song.song_name %></h4>
        added by: <%= song.added_by %>
      </td>
      <td>
        <% if song.user_id == current_user.id || song.added_by == current_user.username %>
         <%= link_to 'delete', song, :method => :delete, :class => "btn btn-lg btn-success"%>
        <% end %>
      </td>
    </tr>
      <% end %>
  </table>
</div>


<h2>Friends</h2>

<table class="table">
<% @friendships.each do |friendship| %>
  <tr>
    <% if friendship.friend.username != params[:id] %>
    <td>
      <%= link_to friendship.friend.username, "/users/#{friendship.friend.permalink}" %>
    </td>
    <% if current_user.username == params[:id] %>
    <td>
      <%= link_to "remove", friendship, method: :delete %>
    </td>
    <% end %>
  <% end %>
  <% if friendship.user.username != params[:id] %>
    <td>
      <%= link_to friendship.user.username, "/users/#{friendship.user.permalink}" %>
    </td>
    <% if current_user.username == params[:id] %>
    <td>
      <%= link_to "remove", friendship, method: :delete %>
    </td>
  </tr>
    <% end %>
  <% end %>
<% end %>

</table>
