<div class="container">

    <table class="table search_results">

      <% @results["tracks"][0,10].each do |result| %>
      <%= form_for Song.new(song_uri: result["href"], song_name: result["name"]) do |f| %>
    <tr>
      <td>
        <% result["artists"].each do |artist|%>
            <h4><%= artist["name"] %></h4>
        <% end %><br>
          <%= result["name"] %>
      </td>
      <td>
        <iframe src="https://embed.spotify.com/?uri=<%=result["href"] %>" width="350" height="80" frameborder="0" allowtransparency="true"></iframe>
      </td>
      <td>
        <%= f.hidden_field :song_name %>
        <%= f.hidden_field :song_uri %>
<!-- dropdown -->
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              Add to friends playlist
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <% @users.each do |user| %>
                  <li role="presentation" id="foo"><a role="menuitem" tabindex="-1" href="#" ><%= check_box_tag "user_ids[]", user.id %> <%= user.username %></a></li>
                <% end %>
              <%= f.submit "add", :class => "btn btn-lg btn-success add_button" %>
            </ul>
          </div>
<!-- end of dropdown -->

      </td>
      <td>
         <% end %>
      </td>
    </tr>
      <% end %>
  </table>
</div>
<script>
  $("#foo").click(function(event){
      event.stopPropagation();
  });
</script>

