<!DOCTYPE html>
<html>
<head>
  <title>Songslist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="#">Listenup!</a> -->
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Listenup!</a></li>
                <li><a href="/search">Search</a></li>
                <% if user_signed_in? %>
                  <li><%=link_to "My Playlist", "/playlists/#{current_user.username.downcase}" %></li>
                  <li><%=link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to "Sign In", new_user_session_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
<%= yield %>
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</body>

</html>
